@font-face{
	font-family: 'flower';
	src: url(font/flower.ttf);
}

body{
	font-family: 'Arial';
	margin: 0;
}

#header{
	display: flex;
	padding: 0 25px;
	padding-bottom: 10px;
	margin-top: -6px;
	background-color: #023047;
	
}

#logo{
	display: inline-block;
	position: relative;
	flex-basis: 10%;
}

#logo img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

#logo a{
	text-decoration: none;
	color: #FFF;
}

#navigation{
	display: inline-block;
	flex-basis: 80%;
}

#navigation ul{
	margin: 0;
}

#navigation ul a{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: .05em;
	color: #fff;
	text-decoration: none;
}

.link {
	display: inline-block;
	padding: 40px 15px 18px;
}

.link:hover{
	transition: all .5s ease;
	color: #FFF;
	background: #FFB703;
}

#banner{
	padding: 120px 0;
	background: url(images/banner.jpeg) bottom no-repeat;
	background-size: cover;
}

#banner h1{
	padding: 30px 0;
	text-align: center;
	font-family: 'Niconne';
	font-size: 100px;
	font-weight: bold;
	color: #fb8500;
	background: rgba(0,0,0,.5);
}


#section1{
	padding: 0px 0;
	text-align: center;
}


#section1 .categories{
	display: flex;
	justify-content: center;
}

#section1 .categories .category{
	flex-basis: 50%;
	position: relative;
	cursor: pointer;
}

#section1 .categories .category::after{
	content:"";
	border: 5px solid #023047	;
	position: absolute;
	top: 15%;
	bottom: 15%;
	left: 15%;
	right: 15%;
	z-index: 1;
}

#section1 .categories .category img{
	display: block;
	width: 100%;
	height: auto;
}

#section1 .categories .category:hover img{

}

#section1 .categories .category h3{
	display: inline-block;
	margin: 0 auto;
	position: absolute;
	left: 0%;
	right: 0;
	bottom: 0;
	top: 80%;
	background: rgba(0,0,0,.6);
	color: #FFF;
	font-weight: bold;
	padding: 20px 10px;
	font-size: 20px;
	text-align: left;
	transition: top .5s ease, font-size .5s ease, background .5s ease;
	z-index: 3;
}


#section1 .categories .category:hover h3{
	top: 0;
	font-size: 30px;
	background: rgba(0,0,0,.8);
}

#section1 .categories .category:hover span{
	display: block;
	margin: 0 auto;
}



#section2{
	display: flex;
	text-align:center;
	justify-content: center;
	align-items: center;
	background: #fb8500;
	padding: 0;
}

#section2 .image-container{
	display: inline-block;
	flex-basis: 50%;
}

#section2 .image-container img{
	display: block;
	width: 100%;
	height: 100%;
}

#section2 .caption-container{
	display: inline-block;
	flex-basis: 50%;
	padding: 20px;
	text-align: left;
}

#section2 .caption-container h2{
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color: #ffffff;
}

#section2 .caption-container p{
	font-size: 18px;
	letter-spacing: .05em;
	text-align: left;
	color: rgb(255, 255, 255);
}

#section2 .caption-container a{
	font-size: 15px;
	display: inline-block;
	margin-top: 10px;
	border: 1px solid #FFF;
	padding: 10px 15px;
	letter-spacing: .05em;
	text-align: left;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

#section2 .caption-container a:hover{
	transition: all .5s ease;
	background: #023047;
	color: #FFF;
	border: 1px solid #000
}


#banner-projects h1{
	padding: 0px 10px;
	padding-bottom: 30px;
	text-align: center;
	font-family: 'Niconne';
	font-size: 100px;
	font-weight: bold;
	color: #FFf;
	background: #023047;
	margin-top: 0px;
	margin-bottom: -20px;
	border-top: 2px solid #fff;
}

#footer{
	padding: 20px 20px;
	text-align: center;
	background: #191919;
	color: #FFF;
}

#footer .social-links{

}

#footer .social-links a{
	font-family: Socialico;
	font-size:  30px;
	color: #FFF;
	text-decoration: none;
}

#footer .social-links a:hover{
	transition: color .5s ease;
	color: #dbb600;
}